{
  "bot交流共享群组": {
    "group_name_keywords": [
      "bot交流",
      "大模型"
    ],
    "enable": false              # 是否启用该共享群组
  },
  "测试共享群组": {
    "group_name_keywords": [
      "测试群1",
      "测试群6",
      "测试群4",
      "测试群5",
    ],
    "enable": true
  },
  "sync_interval": 3,
  "ignore_at_bot_msg": true
}
